extends template/template

block variables
	- var title = 'Главная страница'

block content
	include components/main/main
	include components/ourCollections/collections
	include components/promo/promo
	include components/latestNews/latestNews
	include components/bestOffer/bestOffer

