section.s-promo
  .promo.container
    .promo-info
      .promo-info__title 2020 Nike #[br] The Best Classical
      .promo-info__subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
      .promo-info__button.buyNowButton Buy Now
    .promo-image
      img(src="/assets/img/general/promo-image.png", alt="")