section.s-collections
  .collections.container
    .collections-title Our Collections
    .collections-subtitle Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi 
    include collections-filter/collections-filter  
    .collections-list 
    button.collections-viewAllProduct View All Products