.footer-bottom
  .footer-bottom__container.container
    .footer-bottom__copyright Copyright 2020. All Rights Reserved.
    label(for="email").footer-bottom__subscribe
      input(type="email" name="email" placeholder="Subscribe to our newsletter:")