section.s-bestOffer
  .bestOffer.container
    .bestOffer-image
      img(src="/assets/img/general/nikeDefault.png", alt="")
    .bestOffer-info
      .bestOffer-info__title Nike Zoom Pegasus 32
      .bestOffer-info__rating
        include ./../ourCollections/collections-list/star-rating/star-rating
        +star-rating(true)
      .bestOffer-info__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      .bestOffer-info__colors.shoes-colors
        span#aqua
        span#orange
        span#yellow
      .bestOffer-info__button.buyNowButton Buy Now

    