section.s-bestOffer
  .bestOffer.container
    .bestOffer-image
      img(src="/assets/img/general/nikeDefault.png", alt="").animate__animated.animate__fadeIn
    .bestOffer-info
      .bestOffer-info__title Nike Zoom Pegasus 32
      .bestOffer-info__descr Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      .bestOffer-info__colors Choose color:
        .shoes-colors
          span#Aqua
          span#Red
          span#Yellow
          span#Default
      .bestOffer-info__button.buyNowButton Buy Now

    