@import ./collections-list/collections-list
  
.collections-title
  color: #444444
  font-family: Butler
  font-size: 40px
  font-weight: 400
  text-align: center
  margin-top: 100px

.collections-subtitle
  max-width: 710px
  margin: 10px auto 0
  text-align: center
  color: #666666
  font-family: Raleway
  font-size: 14px
  font-weight: 500
  line-height: 25px

.filter
  display: flex
  align-items: center
  margin-top: 80px

.filter__title
  color: #444444
  font-family: Raleway
  font-size: 13px
  font-weight: 500
  line-height: 0
  text-transform: uppercase

.filter__icon
  margin-right: 13px
  span
    display: block
    width: 15px
    height: 1px
    background-color: #29323b
    &:not(:last-child)
      margin-bottom: 4px


.collections-viewAllProduct
  margin: 75px auto 
  display: block
  padding: 14px 30px
  color: #444444
  background-color: #fff
  border: 2px solid $aqua
  font-family: Lora
  font-size: 15px
  font-weight: 700
  cursor: pointer  